body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  background: orange;
  color: white;
  padding: 60px;
  text-align: center;
}

.hero button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #ffcc00;
  cursor: pointer;
}

section {
  padding: 40px;
  text-align: center;
  color: green;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
#mobile{
  color: green;
  font-size: 1.5em;
  font-weight: 800;
   
}
#headline{
  color: red;
  font-size: xxx-large;
}
    